<!doctype html>
<html lang="en">

<head>
    <script>
        function init() {
            console.log("data", '{{data | tojson}}')
            console.log("data type", typeof('{{data}}'))
            console.log("data type json", typeof('{{data | tojson}}'))
            localStorage.setItem("contentItemId", '{{data["response"][0]["content_item_id"]}}');
        }
    </script>
</head>

<body onload="init()">
    <pre>Click on the below button to copy the content item id into the create assignment form</pre>
</body>

</html>