.search-bar {
    width: 100%;
    margin-bottom: 0.7%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    position: relative;
}

.search-button {
    display: flex;
    position: absolute;
    right: 0px;
    top: 11px;
    align-items: center;
}

.clear_search {
    width: 15%;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 1.2rem;
}

.full-width {
    width: 100%;
}

.sticky-button {
    position: sticky;
    bottom: 10px;
    z-index: 99999;
    float: right;
}

.add-button {
    margin: 5% 0% 2.5%;
}