<div class="custom-outer-container">
    <app-breadcrum></app-breadcrum>

    <mat-tab-group style="margin-top: 1%;">
        <mat-tab label="Cohort List">

            <div class="search-bar">
                <div style="width: 87%;">
                    <div class="full-width">

                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Enter Cohort name, keyword</mat-label>
                            <input matInput type="text" [(ngModel)]="searchCohortTerm">
                            <button *ngIf="searchCohortTerm" matSuffix mat-icon-button aria-label="Clear"
                                (click)="searchCohortTerm=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div class="search-button">

                    <button mat-flat-button style="padding: 7px 28px;font-size: 1rem;" color="primary"><span
                            class="material-symbols-rounded">
                            search
                        </span> Search</button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="add-button">
                <button mat-flat-button style="padding: 7px 28px;font-size: 1rem;" color="primary"
                    (click)="openDialog()">
                    <span class="material-symbols-rounded">
                        add
                    </span>
                    Add Cohort</button>
            </div>

            <ngx-skeleton-loader *ngIf="cohortLoader" count="4"
                [theme]="{'height': '100px','margin-bottom':'30px', 'background-color': '#EAEAEA'}">
            </ngx-skeleton-loader>

            <app-cohort [cohortList]="cohortList"></app-cohort>

        </mat-tab>
        <mat-tab label="Course Template List">

            <div class="search-bar">
                <div style="width: 87%;">
                    <div class="full-width">

                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Enter Course template name, keyword</mat-label>
                            <input matInput [(ngModel)]="searchCourseTemplate">
                            <button *ngIf="searchCourseTemplate" matSuffix mat-icon-button aria-label="Clear"
                                (click)="searchCourseTemplate=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div class="search-button">

                    <button mat-flat-button style="padding: 7px 28px;font-size: 1rem;" color="primary"><span
                            class="material-symbols-rounded">
                            search
                        </span> Search</button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="add-button">
                <button mat-flat-button style="padding: 7px 28px;font-size: 1rem;" color="primary"
                    (click)="openCourseTemplateDialog()">
                    <span class="material-symbols-rounded">
                        add
                    </span>
                    Add Course Template</button>
            </div>


            <ngx-skeleton-loader *ngIf="courseTemplateLoader" count="5"
                [theme]="{'height': '100px','margin-bottom':'30px', 'background-color': '#EAEAEA'}">
            </ngx-skeleton-loader>

            <app-course-template [courseTemplateList]="courseTemplateList">
            </app-course-template>
        </mat-tab>


    </mat-tab-group>

    <!-- 
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="sticky-button"
        [matMenuTriggerFor]="aboveMenu">
        <span class="material-symbols-rounded">
            add
        </span>
    </button>

    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="openDialog()">Create Cohort</button>
        <button mat-menu-item (click)="openCourseTemplateDialog()">Create Course Template</button>
    </mat-menu> -->



</div>