<nav class="navbar navbar-expand-lg navbar-light bg-light top-nav fixed-top">
    <div class="parent-container">
        <button mat-icon-button aria-label="Example icon button with a hamburger icon" [matMenuTriggerFor]="menu">
            <span class="material-symbols-rounded">
                menu
            </span> Menu
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="home">Home</button>
        </mat-menu>

        <div class="user-profile" style="cursor:pointer;" [matMenuTriggerFor]="logoutMenu">
            <span style="margin-right: 10px;" class="material-symbols-rounded">
                account_circle
            </span>
            <span class="profile-name">{{userShowName}}</span>

        </div>
        <mat-menu #logoutMenu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</nav>