    <div *ngFor="let courseTemplate of courseTemplateList" class="data-obj-card">
        <div class="block-header">
            <div class="title">
                <a class="text" color="primary" (click)="reRoute(courseTemplate)">{{courseTemplate.name}}</a>
                <button mat-stroked-button (click)="openClassroom(courseTemplate.classroom_url)" color="primary" style="padding: 0 20px 0 14px;
            margin-left: 4%;
            line-height: 30px;">
                    <span class="material-symbols-rounded">
                        account_box
                    </span> <span style="margin-left:5%;">Go to classroom</span></button>
            </div>



            <div class="more-options" pTooltip="more options" tooltipPosition="top">
                <span class="material-symbols-rounded" style="cursor:pointer;" [matMenuTriggerFor]="subMenu"
                    (click)="setSelected(courseTemplate)">
                    more_vert
                </span>
            </div>
        </div>

        <div class="block-body">
            <div class="description">
                <div class="text" style="padding: 1.5%;">
                    <app-show-more [descText]="courseTemplate.description" [letters]="225"></app-show-more>
                </div>
            </div>

        </div>

        <div class="block-metadata">
            <div class="metadata">

                <div class="date-block" *ngIf="courseTemplate.instructional_designer == ''"><ngx-skeleton-loader count="1"
                    [theme]="{'height': '30px','width': '200px','background-color': '#EAEAEA'}">
                </ngx-skeleton-loader></div>
           

                <div *ngIf="courseTemplate.instructional_designer != ''" class="date-block"><span class="material-symbols-rounded">
                    history_edu
                    </span>
                    <div class="date-body">
                        <div class="title">Instructional Designer :</div>
                        

                        <div *ngIf="courseTemplate.instructional_designer != 'null'"  [matBadge]="getIdTotal(courseTemplate.instructional_designer)" 
                        [matBadgeHidden]="checkIfBadgeHidden(courseTemplate.instructional_designer)" (click)="setSelected(courseTemplate);openAddOrEditIdTemplate()" matBadgeOverlap="false" matBadgeSize="medium" class="content">
                    {{courseTemplate.instructional_designer[0] ? courseTemplate.instructional_designer[0]['email'] : ''}}
                        </div>

            </div>

                </div>

                <div class="date-block"><span class="material-symbols-rounded">
                    admin_panel_settings
                    </span>
                    <span class="date-body"><span class="title">Admin :
                        </span>
                        <span class="content">{{courseTemplate.admin}}</span>
                    </span>
                </div>
            </div>
        </div>




    </div>

<!-- <ng-template #noResult>
    <div class="no-data-inner-comp">No Data Found</div>
</ng-template> -->

<mat-menu #subMenu="matMenu" yPosition="below">
    <div class="edit-menu">
        <button mat-menu-item class="button" (click)="openAddOrEditIdTemplate()"><span class="material-symbols-rounded"
            style="padding-right: 10px;">
            person_add
        </span>Add / Edit Instructional Designer</button>
        <button mat-menu-item class="button" (click)="openEditCourseTemplate()"><span class="material-symbols-rounded"
                style="padding-right: 10px;">
                edit
            </span>Edit course template details</button>
    </div>
</mat-menu>