.data-obj-card {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 2%;

    .block-header {
        // height: 25%;
        display: flex;
        padding: 1.5%;
        border-bottom: 1px solid black;

        .title {
            width: 80%;
            display: flex;
            align-items: center;

            .text {
                font-size: 1.3rem;
                margin-right: 2%;
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

            .icon {
                margin-left: 2%;
            }
        }

        .more-options {
            width: 20%;
            text-align: center;
        }
    }

    .block-body {
        display: flex;
        flex-direction: column;

    }
}

.no-data-inner-comp {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10%;
}