<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <style>
    body {
      font-family: Lato, sans-serif;
    }
  </style>
</head>

<body>
  <h1 style="text-align: center; margin-bottom: 2rem">
    Welcome to ASU Study Hall
  </h1>
  <h3 style="text-align: center; margin-bottom: 2rem" id="instruction">Log in to proceed further</h3>
  <p id="status" style="text-align: center; margin-bottom: 2rem; display: none;"></p>

  <p id="existing-acc" style="text-align: center; margin-bottom: 2rem; display: none;"></p>

  <div style="text-align: center; margin-bottom: 2rem" id="google-sign-in-btn-container">
  </div>

  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>

  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyDyr4yG7khoWYsteBcYqVy-t00YlCevtkY",
      authDomain: "core-learning-services-dev.firebaseapp.com",
      projectId: "core-learning-services-dev",
      storageBucket: "core-learning-services-dev.appspot.com",
      messagingSenderId: "142865211726",
      appId: "1:142865211726:web:4431236f5ed1bf7902be1f"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    async function signInWithGoogle() {
      const provider = new firebase.auth.GoogleAuthProvider();
      try {
        wasSignedOut = false
        const result = await firebase.auth().signInWithPopup(provider);
        console.log(result.user);
      } catch (error) {
        console.error(error);
      }
    }
    let wasSignedOut = false
    const googleSignInBtnContainer = document.getElementById('google-sign-in-btn-container');
    googleSignInBtnContainer.innerHTML = `loading...`;
    firebase.auth().onAuthStateChanged(user => {
      if (!wasSignedOut) {

        if (user) {
          googleSignInBtnContainer.innerHTML = `
          <p><button id="continue-with-same-account-btn">Continue with ${user.email}</button></p>
          <p>OR</p>
          <p><button id="use-different-account-btn">Use a different account</button></p>
          `;

          let countdown = 5;
          const countdownInterval = setInterval(() => {
            document.getElementById('continue-with-same-account-btn').textContent = `Continue with ${user.email} (${countdown--})`;
            if (countdown < 0) {
              clearInterval(countdownInterval);
              document.getElementById('continue-with-same-account-btn').textContent = `Continue with ${user.email}`;
              console.log(user.getIdToken());
            }
          }, 1000);

          document.getElementById('use-different-account-btn').addEventListener('click', () => {
            clearInterval(countdownInterval)
            wasSignedOut = true
            firebase.auth().signOut();
            signInWithGoogle()
          });
        } else {
          googleSignInBtnContainer.innerHTML = `
        <button id="sign-in-with-google-btn">Sign in with Google</button>
        `;

          document.getElementById('sign-in-with-google-btn').addEventListener('click', () => {
            signInWithGoogle();
          });
        }
      }
    });


    function initiateRedirection(token) {
      displayRedirecting()
      let timezone = null
      if (Intl?.DateTimeFormat().resolvedOptions().timeZone) {
        timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
      }
      let redirectUrl = null
      if (timezone) {
        redirectUrl = `${'{{redirect_url}}'}&timezone=${timezone}`
      } else {
        redirectUrl = '{{redirect_url}}'
      }
      return axios
        .get(redirectUrl, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        .then((response1) => {
          console.log("response1", response1)
          return axios.post(response1.data.url, response1.data.message_hint, {
            headers: {
              Authorization: `Bearer ${token}`,
            },
          }).then((response2) => {
            window.open(response2.data.url, "_self").focus()
          }).catch((err) => {
            console.log("err", err)
            if (err?.response?.status == 401) {
              displayError("Access Denied")
            }
            displayError(err.message)
            initFirebaseUI()
          })
        }).catch((err) => {
          console.log("err", err)
          if (err?.response?.status == 401) {
            displayError("Access Denied")
          }
          displayError(err.message)
          initFirebaseUI()
        })
    }

    function displayError(text) {
      let displayText = "There was a error while redirecting! Please try again."
      if (text) {
        displayText = text
      }
      document.getElementById("status").style.display = "block"
      document.getElementById("status").style.color = "red"
      document.getElementById("status").innerText = displayText
    }
  </script>
</body>

</html>