<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.2/firebase-ui-auth.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.2/firebase-ui-auth.css" />
  <style>
    body {
      font-family: Lato, sans-serif;
    }
  </style>
  <script type="text/javascript">
    let counter = 5
    const firebaseConfig = {
      apiKey: '{{ firebase_api_key }}',
      projectId: '{{ project_id }}',
      authDomain: '{{ firebase_auth_domain }}'
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    let user = null
    setTimeout(() => {
      user = firebase.auth().currentUser;
      console.log("user", user)

      if (user) {
        let email = user._delegate.email
        displayCounterWithText(email)
      }
    }, 1000);

    let ui = null
    let disableTransfer = null

    initFirebaseUI()
    function initFirebaseUI() {
      if (ui) {
        ui.reset();
      } else {
        ui = new firebaseui.auth.AuthUI(firebase.auth());
      }
      let uiConfig = {
        signInOptions: [
          {
            provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            customParameters: {
              prompt: "select_account"
            }
          }
        ],
        callbacks: {
          signInSuccessWithAuthResult: function (authResult, redirectUrl) {
            let user = authResult.user;
            let token = user._delegate.accessToken
            disableTransfer = true
            // initiateRedirection(token)
            console.log("something failed")
            return false;
          },
          uiShown: function () {
            let googleButton = document.querySelector('[data-provider-id="google.com"]')
            if (googleButton) {
              disableTransfer = false
              googleButton.addEventListener("click", () => {
                disableTransfer = true
              })
            } else {
              disableTransfer = true
            }
          }
        },
      };

      ui.start('#firebaseui-auth-container', uiConfig);
    }

    function continueLaunch() {
      user.getIdToken().then((idToken) => {
        initiateRedirection(idToken)
      }).catch(function (error) {
        console.error("Error getting ID token:", error);
      });
    }

    function initiateRedirection(token) {
      displayRedirecting()
      return axios
        .get('{{redirect_url}}', {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        .then((response1) => {
          console.log("response1", response1)
          return axios.post(response1.data.url, response1.data.message_hint, {
            headers: {
              Authorization: `Bearer ${token}`,
            },
          }).then((response2) => {
            window.open(response2.data.url, "_self").focus()
          }).catch((err) => {
            console.log("err", err)
            if (err?.response?.status == 401) {
              displayError("Access Denied")
            }
            displayError(err.message)
            initFirebaseUI()
          })
        }).catch((err) => {
          console.log("err", err)
          if (err?.response?.status == 401) {
            displayError("Access Denied")
          }
          displayError(err.message)
          initFirebaseUI()
        })
    }

    function getParameterByName(name, url = window.location.href) {
      name = name.replace(/[\[\]]/g, '\\$&');
      let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function displayRedirecting(text) {
      let displayText = "Redirecting..."
      if (text) {
        displayText = text
      }
      document.getElementById("status").style.display = "block"
      document.getElementById("status").style.color = "black"
      document.getElementById("status").innerText = displayText
    }

    function displayError(text) {
      let displayText = "There was a error while redirecting! Please try again."
      if (text) {
        displayText = text
      }
      document.getElementById("status").style.display = "block"
      document.getElementById("status").style.color = "red"
      document.getElementById("status").innerText = displayText
    }

    function displayCounterWithText(email) {
      let interval = setInterval(() => {
        if (disableTransfer) {
          setTimeout(() => { document.getElementById("existing-acc").style.display = "none" }, 0);
          clearInterval(interval)
          continueLaunch()
        }
        if (counter == 0) {
          document.getElementById("existing-acc").style.display = "none"
          clearInterval(interval)
          continueLaunch()
        } else {
          let displayText = `Continuing with ${email} in ${counter} seconds`
          document.getElementById("existing-acc").style.display = "block"
          document.getElementById("existing-acc").innerText = displayText
          counter--
        }
      }, 1000);
    }
  </script>
</head>

<body>
  <h1 style="text-align: center; margin-bottom: 2rem">
    Welcome to ASU Study Hall
  </h1>
  <h3 style="text-align: center; margin-bottom: 2rem" id="instruction">Log in to proceed further</h3>
  <p id="status" style="text-align: center; margin-bottom: 2rem; display: none;"></p>

  <p id="existing-acc" style="text-align: center; margin-bottom: 2rem; display: none;"></p>

  <div id="firebaseui-auth-container"></div>
</body>

</html>