.edited-desc-text {
    margin-bottom: 0.5rem;
}

.show-button {
    text-decoration: underline;
    font-size: 0.85rem;
    color: var(--blue-900);
    font-family: 'vdh-black';
    cursor: pointer;
}