<ng-container>
    <div *ngFor="let section of sectionList" class="data-obj-card">
        <div class="block-header">
            <div class="title">
                <a class="text" color="primary" style="cursor: pointer;"
                    (click)="reRout(section.cohort, section.id)">{{section.section}}</a>
                <span class="material-symbols-rounded" style="font-size: 0.9rem;">
                    open_in_new
                </span>

                <button mat-stroked-button (click)="openClassroom(section.classroom_url)" color="primary" style="padding: 0 20px 0 14px;
                margin-left: 4%;
                line-height: 30px;">
                    <span class="material-symbols-rounded">
                        account_box
                    </span> <span style="margin-left:5%;">Go to classroom</span></button>
            </div>
            <!-- <div class="more-options" pTooltip="more options" tooltipPosition="top">
                <span class="material-symbols-rounded" style="cursor:pointer;" [matMenuTriggerFor]="subMenu"
                    (click)="setSelected(section)">
                    more_vert
                </span>
            </div> -->
        </div>

        <div class="block-body">
            <div class="description">
                <div class="text" style="padding: 1.5%;">
                    <app-show-more [descText]="section.description" [letters]="225"></app-show-more>
                </div>
            </div>

        </div>

        <div class="block-metadata">
            <div class="metadata">

                <div class="id-block">
                    <span class="material-symbols-rounded">
                        history_edu
                    </span>
                    <span class="heading">Course Template : </span>
                    <span class="body">{{section.name}}</span>
                </div>

            </div>
        </div>


    </div>
</ng-container>

<!-- <ng-template #noResult>
    <div class="no-data-inner-comp">No Data Found</div>
</ng-template> -->

<!-- <mat-menu #subMenu="matMenu" yPosition="below">
    <div class="edit-menu">
        <button mat-menu-item class="button" (click)="openEditSection()"><span class="material-symbols-rounded"
                style="padding-right: 10px;">
                edit
            </span>Edit course template details</button>
    </div>
</mat-menu> -->