@use '@angular/material' as mat;
$my-palette: mat.define-palette(mat.$grey-palette);

$primary-color : #8c1d40;

.data-obj-card {
    background-color: mat.get-color-from-palette($my-palette, 50);
    border: 1px solid mat.get-color-from-palette($my-palette, 400);
    ;
    margin-bottom: 3%;
    margin-bottom: 2%;

    .block-header {
        // height: 25%;
        display: flex;
        padding: 1.5%;
        border-bottom: 1px solid mat.get-color-from-palette($my-palette, 400);

        .title {
            width: 80%;
            display: flex;
            align-items: center;

            .text {
                font-size: 1.3rem;
                margin-right: 1.5%;
                color: $primary-color;
                font-weight: 700;
                text-decoration: none;
            }

            .text:hover {
                text-decoration: underline;
            }

            .icon {
                margin-left: 2%;
            }
        }

        .more-options {
            width: 20%;
            text-align: center;
        }
    }

    .block-body {
        display: flex;
        flex-direction: column;

    }

    .block-metadata {
        border-top: 1px solid mat.get-color-from-palette($my-palette, 400);
        padding: 1.5%;

        .metadata {
            display: flex;

            .id-block {
                display: flex;
                align-items: center;
                color: mat.get-color-from-palette($my-palette, 700);
                margin-right: 2%;

                .heading {
                    margin: 0px 10px;
                    font-weight: 700;
                }

                .body {
                    font-size: 0.9rem;
                }
            }
        }
    }

}

.no-data-inner-comp {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10%;
}

.edit-menu {
    .button {
        display: flex;
        align-items: center;
    }
}

:host ::ng-deep .section-ACTIVE-chip {
    background-color: #03C003;
    color: white;
    font-size: 0.7rem;
    padding: 3px;
    font-weight: 800;
    letter-spacing: 1px;

}
:host ::ng-deep .section-ARCHIVED-chip {
    background-color: #6b6b6b;
    color: white;
    font-size: 0.7rem;
    padding: 3px;
    font-weight: 800;
    letter-spacing: 1px;
}
:host ::ng-deep .section-FAILED_TO_PROVISION-chip {
    background-color: #DE0000;
    color: white;
    font-size: 0.7rem;
    padding: 3px;
    font-weight: 800;
    letter-spacing: 1px;
}
:host ::ng-deep .section-PROVISIONING-chip {
    background-color: #c08f03;
    color: white;
    font-size: 0.7rem;
    padding: 3px;
    font-weight: 800;
    letter-spacing: 1px;
}