firebase_admin
fireo==1.5.1
google-cloud-logging
google-cloud-secret-manager==2.13.0
mock
pylint
pytest
pytest - cov
pytest - custom_exit_code
pytest - mock
behave
pyyaml
requests
google-auth
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httpx