firebase_admin==6.0.1
fireo==1.6.2
google-cloud-logging==3.5.0
google-cloud-secret-manager==2.16.1
mock==5.1.0
pylint==2.17.2
pytest==7.3.0
pytest-cov==4.1.0
pytest-custom_exit_code==0.3.0
pytest-mock==3.10.0
behave==1.2.6
pyyaml==6.0
requests==2.31.0
google-auth==2.17.3
google-api-python-client==2.86.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-cloud-pubsub==2.17.1
google-cloud-bigquery==3.10.0
gcsfs==2022.11.0
fastapi==0.110.1
regex==2023.6.3
redis==4.5.4
