fastapi==0.65.2
uvicorn==0.14.0
python-multipart==0.0.5
fireo==1.6.2
typing
kubernetes==11.0.0
absl-py
google-cloud-storage==2.0.0
google-cloud-logging
typing-extensions==4.0.1
firebase-admin==4.5.2
protobuf==3.19.5
gcsfs==2022.5.0