<div class="data-obj-card">
    <div class="block-header">
        <div class="title">
            <a class="text">Math 101</a>
        </div>
        <div class="more-options" pTooltip="more options" tooltipPosition="top">
            <span class="material-symbols-rounded" style="cursor:pointer;">
                more_vert
            </span>
        </div>
    </div>

    <div class="block-body">
        <div class="description">
            <div class="text" style="padding: 1.5%;">
                <app-show-more [descText]="tempDescription" [letters]="225"></app-show-more>
            </div>
        </div>

    </div>

</div>


<div class="data-obj-card">
    <div class="block-header">
        <div class="title">
            <a class="text">Math 101</a>
        </div>
        <div class="more-options" pTooltip="more options" tooltipPosition="top">
            <span class="material-symbols-rounded" style="cursor:pointer;">
                more_vert
            </span>
        </div>
    </div>

    <div class="block-body">
        <div class="description">
            <div class="text" style="padding: 1.5%;">
                <app-show-more [descText]="tempDescription" [letters]="225"></app-show-more>
            </div>
        </div>

    </div>

</div>

<div class="data-obj-card">
    <div class="block-header">
        <div class="title">
            <a class="text">Math 101</a>
        </div>
        <div class="more-options" pTooltip="more options" tooltipPosition="top">
            <span class="material-symbols-rounded" style="cursor:pointer;">
                more_vert
            </span>
        </div>
    </div>

    <div class="block-body">
        <div class="description">
            <div class="text" style="padding: 1.5%;">
                <app-show-more [descText]="tempDescription" [letters]="225"></app-show-more>
            </div>
        </div>

    </div>

</div>

<div class="data-obj-card">
    <div class="block-header">
        <div class="title">
            <a class="text">Math 101</a>
        </div>
        <div class="more-options" pTooltip="more options" tooltipPosition="top">
            <span class="material-symbols-rounded" style="cursor:pointer;">
                more_vert
            </span>
        </div>
    </div>

    <div class="block-body">
        <div class="description">
            <div class="text" style="padding: 1.5%;">
                <app-show-more [descText]="tempDescription" [letters]="225"></app-show-more>
            </div>
        </div>

    </div>

</div>