@use '@angular/material' as mat;
$my-palette: mat.define-palette(mat.$grey-palette);

$primary-color : #8c1d40;

.data-obj-card {
    background-color: mat.get-color-from-palette($my-palette, 50);
    border: 1px solid mat.get-color-from-palette($my-palette, 400);
    ;
    margin-bottom: 3%;
    display: flex;

    .content-body-section {
        width: 85%;

        .block-header {
            // height: 25%;
            display: flex;
            padding: 1.5%;
            border-bottom: 1px solid mat.get-color-from-palette($my-palette, 400);

            .title {
                width: 90%;
                display: flex;
                align-items: center;

                .text {
                    font-size: 1.3rem;
                    margin-right: 1.5%;
                    color: $primary-color;
                    font-weight: 700;
                    text-decoration: none;
                    cursor: pointer;

                }

                .text:hover {
                    text-decoration: underline;
                }

                .icon {
                    margin-left: 2%;
                }
            }

            .more-options {
                width: 10%;
                text-align: center;
            }
        }

        .block-body {
            display: flex;
            flex-direction: column;

        }

        .block-metadata {
            border-top: 1px solid mat.get-color-from-palette($my-palette, 400);
            padding: 1.5%;

            .metadata {
                display: flex;
                width: 100%;

                .date-block {
                    display: flex;
                    align-items: center;
                    color: mat.get-color-from-palette($my-palette, 700);
                    width: 100%;

                    .date-body {
                        padding-left: 1%;
                        font-size: 0.8rem;

                        .title {
                            font-weight: 600;
                            margin-right: 5px;
                        }

                        .content {
                            font-size: 0.75rem;
                        }

                        .to {
                            padding: 0 6px;
                        }

                    }
                }
            }
        }
    }

    .enrolled-section {
        width: 15%;
        border-left: 1px solid mat.get-color-from-palette($my-palette, 400);
        display: flex;
        align-items: center;

        .enrolled-section-content {
            margin: auto;

            .number {
                font-size: 2rem;
                font-weight: 800;
                color: $primary-color;
                text-align: center;
            }

            .text {
                text-align: center;
                margin-top: 5%;
                font-size: 0.9rem;
            }
        }
    }

}

.no-data-inner-comp {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10%;
}

:host ::ng-deep .active-chip {
    background-color: #03C003;
    color: white;
    font-size: 0.7rem;
    padding: 3px;
    font-weight: 800;
    letter-spacing: 1px;
}

:host ::ng-deep .deactive-chip {
    background-color: #DE0000;
    color: white;
    font-size: 0.7rem;
    padding: 3px;
    font-weight: 800;
    letter-spacing: 1px;
}

.status-chip {
    margin-left: 3%;
}

.edit-menu {
    .button {
        display: flex;
        align-items: center;
    }
}