<h1 mat-dialog-title>Create Course Template</h1>
<div mat-dialog-content>


    <form [formGroup]="courseTemplateForm" class="course-teplate-form">

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Course Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Course Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>


        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Instructional Designer</mat-label>
            <mat-select formControlName="instructional_designer">
                <mat-option value="test_user_1@dhodun.altostrat.com">test_user_1@dhodun.altostrat.com</mat-option>
                <!-- <mat-option value="two">Second option</mat-option> -->
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Course Admin</mat-label>
            <mat-select formControlName="admin">
                <mat-option value="lms_service@dhodun.altostrat.com">lms_service@dhodun.altostrat.com</mat-option>
                <!-- <mat-option value="two">Second option</mat-option> -->
            </mat-select>
        </mat-form-field>

    </form>


</div>
<div mat-dialog-actions>
    <button mat-flat-button (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="createCourseTemplate()" [disabled]="!courseTemplateForm.valid">
        <mat-icon *ngIf="showProgressSpinner" style="margin-right:5px;">
            <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>Create
    </button>
</div>
<!-- <button mat-button (click)="createCourseTemplate()">Create</button> -->