<h1 mat-dialog-title>{{courseTemplateModalData.mode}} Course Template</h1>
<div mat-dialog-content>


    <form [formGroup]="courseTemplateForm" class="course-teplate-form">

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Course Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Course Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>

        <ng-container *ngIf="courseTemplateModalData.mode == 'Create'; else elseTemplate">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Instructional Designer</mat-label>

                <input matInput formControlName="instructional_designer">
                <!-- <mat-select formControlName="instructional_designer">
                    <mat-option value="test_user_1@dhodun.altostrat.com">test_user_1@dhodun.altostrat.com</mat-option>
                </mat-select> -->
            </mat-form-field>

        </ng-container>

        <ng-template #elseTemplate>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Instructional Designer</mat-label>
                <input matInput formControlName="instructional_designer">
            </mat-form-field>
        </ng-template>

    </form>


</div>
<div mat-dialog-actions>
    <button mat-flat-button (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="createCourseTemplate()" [disabled]="!courseTemplateForm.valid">
        <mat-icon *ngIf="showProgressSpinner" style="margin-right:5px;">
            <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>{{ (courseTemplateModalData.mode == 'Create') ? 'Create' : 'Save' }}
    </button>
</div>
<!-- <button mat-button (click)="createCourseTemplate()">Create</button> -->