fastapi==0.85.1
fireo==1.6.2
google-cloud-core==2.3.2 
google-api-python-client==2.91.0
google-auth==2.21.0
google-cloud-logging==3.5.0
google-cloud-secret-manager==2.16.1
google-cloud-bigquery==3.10.0
jsonschema==4.17.3
google-crc32c==1.5.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
oauth2client==4.1.3
ttl-cache==1.6
redis==4.5.4
regex==2023.6.3
gcsfs==2023.6.0
pytz==2023.3
kubernetes==26.1.0
