:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #FFFFFF;
}
.contentItemIdRow{
    display: flex;
}

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    font-size: 20px;
}