<h2 mat-dialog-title>
    <ng-container *ngIf="dialogData.mode == 'Create'">Create New LTI Assignment</ng-container>
    <ng-container *ngIf="dialogData.mode == 'Update'">Update LTI Assignment</ng-container>
</h2>
<div mat-dialog-content style="padding-bottom: 4%;padding-top: 1%;">


    <form [formGroup]="ltiAssignmentForm">
        <div>
            <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Select Tool</mat-label>
                <input *ngIf="toolSelectDisabled" [value]="toolName" [disabled]="true" readonly="true" matInput>
                <input *ngIf="toolSelectDisabled" formControlName="tool_id" [disabled]="true" readonly="true" type="hidden">
                <mat-select *ngIf="!toolSelectDisabled" formControlName="tool_id"
                    (selectionChange)="onDropdownChange()">
                    <mat-option *ngFor="let tool of toolsList" [value]="tool.id">{{tool.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Assignment Title</mat-label>
                <input formControlName="lti_assignment_title" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>LTI Content item id</mat-label>
                <div class="contentItemIdRow">
                    <input style="width: 80%;" formControlName="lti_content_item_id" matInput>
                    <button *ngIf="displayButton == 'selectContentItem'" [disabled]="!isDisplayButtonEnabled" mat-flat-button color="primary" (click)="openContentSelector()">Select Content</button>
                    <button *ngIf="displayButton == 'createContentItem'" [disabled]="!isDisplayButtonEnabled" mat-flat-button color="primary" (click)="createContentItem()">Create Content Item</button>
                </div>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Start Date</mat-label>
                <!-- <input formControlName="start_date" matInput type="datetime-local"> -->
                <input formControlName="start_date" matInput [matDatepicker]="start_date">
                <mat-datepicker-toggle matIconSuffix matSuffix [for]="start_date"></mat-datepicker-toggle>
                <mat-datepicker #start_date></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>End Date</mat-label>
                <input formControlName="end_date" matInput [matDatepicker]="end_date">
                <mat-datepicker-toggle matIconSuffix matSuffix [for]="end_date"></mat-datepicker-toggle>
                <mat-datepicker #end_date></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Due Date</mat-label>
                <input formControlName="due_date" matInput [matDatepicker]="due_date">
                <mat-datepicker-toggle matIconSuffix matSuffix [for]="due_date"></mat-datepicker-toggle>
                <mat-datepicker #due_date></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Max Points</mat-label>
                <input formControlName="max_points" matInput>
            </mat-form-field>
        </div>

        <div mat-dialog-actions style="display: flex;justify-content: end;">
            <button mat-flat-button (click)="onNoClick()">Cancel</button>
            <button mat-flat-button [disabled]="!ltiAssignmentForm.valid" (click)="onSubmit(ltiAssignmentForm)"
                color="primary" type="submit">
                <mat-icon *ngIf="showProgressSpinner" style="margin-right:5px;">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
                Save</button>
        </div>
    </form>
</div>