<h1 mat-dialog-title>{{requiredDetails.mode}} Section</h1>
<div mat-dialog-content>


    <form [formGroup]="addSectionForm" class="course-teplate-form">

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Section Name</mat-label>
            <input matInput formControlName="section_name">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Section Description</mat-label>
            <input matInput formControlName="section_description">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Cohort</mat-label>
            <input matInput formControlName="cohort">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Course Template</mat-label>
            <input matInput formControlName="course_template">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Instructional Designe</mat-label>
            <input matInput formControlName="instructional_designer">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Course Admin</mat-label>
            <input matInput formControlName="admin">
        </mat-form-field>




       



    </form>


</div>
<div mat-dialog-actions>
    <button mat-flat-button (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="createSection()" [disabled]="!addSectionForm.valid">
        <mat-icon *ngIf="showProgressSpinner" style="margin-right:5px;">
            <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>{{ (requiredDetails.mode == 'Create') ? 'Create' : 'Save' }}
    </button>
</div>
<!-- <button mat-button (click)="createCourseTemplate()">Create</button> -->