@use '@angular/material' as mat;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
$custom-typography: mat.define-legacy-typography-config($font-family: '"Lato", sans-serif');

$asu-studyhall-palette: (
    50: #fee5e8,
    100: #fcbdc6,
    200: #f993a1,
    300: #f46a7d,
    400:#ed4e63,
    500:#e83b4b,
    600:#d8354a,
    700:#c32f47,
    800:#af2845,
    900:#8c1d40,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);


$asu-studyhall-primary: mat.define-palette($asu-studyhall-palette, 900);
$asu-studyhall-accent: mat.define-palette($asu-studyhall-palette, 200);

$asu-studyhall-warn: mat.define-palette(mat.$red-palette);

$asu-studyhall-theme: mat.define-light-theme((color: (primary: $asu-studyhall-primary,
                accent: $asu-studyhall-accent,
                warn: $asu-studyhall-warn,
            )));
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($custom-typography);`
@include mat.all-legacy-component-typographies($custom-typography);
@include mat.legacy-core();
@include mat.all-legacy-component-themes($asu-studyhall-theme);